.places {
	position: relative;
	display: flex;
	flex-flow: wrap row;
	justify-content: space-around;
}

.places h1 {
	font-size: 30px;
	margin-left: 10px;
	margin-bottom: 0;
	width: 100%;
}

.places a {
	border: solid 1px #FF5A5F;
	border-radius: 4px;
	width: 390px;
	margin: 20px;
	padding: 20px;
	text-align: center;
}
